[mysqld]
datadir = /home/ilya/MySQLTraffic/mysql_data
socket = /home/ilya/MySQLTraffic/mysql_data/mysql.sock
pid-file = /home/ilya/MySQLTraffic/mysql_data/mysql.pid
port = 3307
bind-address = 127.0.0.1
mysqlx = OFF

ssl_ca = /home/ilya/MySQLTraffic/mysql_data/ca.pem
ssl_cert = /home/ilya/MySQLTraffic/mysql_data/server-cert.pem
ssl_key = /home/ilya/MySQLTraffic/mysql_data/server-key.pem
secure_file_priv = /home/ilya/MySQLTraffic/mysql_data

# Тюнинг под сбор сырых 16КБ блоков
innodb_file_per_table = 1
innodb_buffer_pool_size = 64M
innodb_flush_log_at_trx_commit = 1
innodb_doublewrite = 0
innodb_stats_on_metadata = 0
